/* src/index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9f2f9;
  color: #333333;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
 
.App {
  text-align: center;
  min-height: 100vh;
}
 
/* .SignUp, .Login {
  padding: 20px;
  min-height: 100vh;
} */

button {
  margin: 0px 20px;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 600;
  border-bottom: 1px solid #000000a8;
  height: 28px;
}
 
.Navbar a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 20px;
  font-size: 1.2rem;
  color: #ffffff;
}

.Navbar-right button {
  padding: 5px 10px;
  background-color: lightgrey;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.Navbar-right button:hover {
  background-color: gray
}

.theme-btn:hover {
  background-color: #e2e2e2;
}

.selected {
  text-shadow: 1px 0px 3px white;
  border-bottom: rgba(230, 244, 77, 0.804) solid 2px;
  padding-bottom: 5px;
  color: #ffffff;
}
 
.btn {
  padding: 5px 20px;
  background-color: #3498db;
  color: #ffffff;
}
 
.profile {
  width: 200px;
}

/* login page */
.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.Login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Login h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Login label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.Login input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Login button {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  background-color: #0077b6;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.Login button:hover {
  background-color: #023e8a;
}

.Login p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.Login a {
  color: #0077b6;
  text-decoration: none;
}

.Login a:hover {
  text-decoration: underline;
}

/* signup page  */
.SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.SignUp form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.SignUp h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.SignUp label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.SignUp input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.SignUp button {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  background-color: #0077b6;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.SignUp button:hover {
  background-color: #023e8a;
}

.SignUp p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.SignUp a {
  color: #0077b6;
  text-decoration: none;
}

.SignUp a:hover {
  text-decoration: underline;
}



/* profile page */
.Profile {
  margin-top: 35px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-top {
  width: 560px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
}

.profile-page-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 10px;
}

.Link-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightgrey;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.Link-button:hover {
  background-color: gray;
}

 
.theme-btn {
  padding: 2px 15px;
  font-size: 1rem;
  text-align: center;
}

.☀ {
  background-color: #e9f2f9;
}
 
.☽ {
  background-color: #18191a;
}
 
.Navbar.☀ {
  background-color: #ffffff;
}
 
.Navbar.☽{
  background-color: #252526;
}

.Navbar img {
  width: 150px;
}
 
.☀ a,
.☀ p,
.☀ h1,
.☀ h4,
.☀ h3 {
  color: #000000;
}
 
.☽ a,
.☽ p,
.☽ h1,
.☽ h4,
.☽ h3 {
  color: #ffffff;
}

.☀ label {
  color: #000000;
}

.☽ label {
  color: #ffffff;
}

/* Home page css */
.Home {
  margin-top: 40px;
  display: flex;
  justify-content: center
  }

  .profile-container {
    display: flex;
    justify-content: flex-start;
    /* width: 300px; */
  }

  .profile-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    margin: 30px 30px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .creator {
    width: 10px;
    margin: 5px;
    /* display: flex; */
  }

  .post-button {
    padding: 5px 10px;
    background-color: #004aad;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .post-button:hover {
    background-color: #003b8c;
  }
  
  .post-button:active {
    background-color: #002260;
  }
  

  .timeline-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .post, .post-container {
  display: flex;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  /* width: 300px; */
  width: 540px;
  }

.post {
  align-items: center;
}
  
.post-text {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  background-color: #f2f2f2;
  width: 60%;
  height: 25px;
  resize: none;
}

.hidden {
  display: none;
}

.img-logo {
  width: 25px;
  margin: 0 0 0 20px;
}

.☀ textarea {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.post-details {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}

.post-details h4 {
  margin: 0;
}

.post-details p {
  margin: 0;
}

.post-content {
  text-align: start;
  /* background-color: red; */
}

.post-content > img {
  max-width: 540px;
}

/* img {
  width: 150px;
} */

.sponsored img {
  width: 150px;
}


.post-actions {
  display: flex;
  align-self: center;
  border-top: 1px solid grey;
  width: 100%;
  justify-content: center;
  /* background-color: purple; */
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  }

.profile-pic-div{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}

  .occupation {
    font-size: 12px;
  }

  .post-user-info {
    display: flex ;
    flex-direction: row;
  }

  .delete {
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  }

  .comment-form {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .comment-send-btn {
    display: flex;
    align-self: flex-end;
    width: 25%;
    margin-right: 0;
    margin-left: 0;
    background-color: #004aad;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
  }

  .comment-textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  resize: none;
  height: 30px;
}

.comment-send-btn:hover {
  background-color: #003b8c;
}

  .comments {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .comment-post {
    margin: 0px 10px 0px 0px
  }

  a {
    text-decoration: none;
  }

  .sponsored {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    margin: 30px 30px;
    height: 270px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .sponsored h4 {
    margin: 0px
  }

  /* edit post page */
  .edit-post {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }
  
  .edit-post form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-post textarea {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    resize: none;
    height: 200px;
  }
  
  .edit-post button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .edit-post button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .edit-post h4 {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }
  
/* edit profile page */
.Profile form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.Profile label {
  margin-bottom: 10px;
}

.Profile input[type="text"],
.Profile input[type="file"] {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.Profile input[type="file"] {
  cursor: pointer;
}

.Profile button[type="submit"] {
  background-color: #004aad;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  display: block;
   margin: 0 auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.Profile button[type="submit"]:hover {
  background-color: #003b8c;
}

.Profile p {
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-profile {
  flex-basis: 25%;
  text-align: left;
}

input[type="text"],
input[type="file"] {
  flex-basis: 75%;
  text-align: left;
}


  /* Dark mode */
  .☽ .post, .☽ .post-container,  .☽ .sponsored, .☽ .profile-top {
  background-color: #252526;
  color: white;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
  }
  
  .☽ .profile-pic {
  border: 2px solid white;
  }

  button {
    cursor: pointer;
  }

  .edit-post {
    display: flex;
    margin-top: 5vh;
  }

  .☽ .delete {
    background-color: #252526;
    color: white;
  }

  .☽ .profile-preview, .☽ .background-color {
    background-color: #252526;
    color: white;
  }

  .☽ textarea {
    background-color: grey;
    color: white;
    border-radius: 5px;
  }

  .☽ ::placeholder {
    color: white;
  }
  
  .☽ .img-logo {
    filter: invert(1);
  }


  /* Large devices (desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { */
  /* CSS code here */
/* } */

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS code here */
}

@media only screen and (max-width: 1300px) {
  .sponsored {
    display: none;
  }
}

/* Small devices (mobiles, 576px and up) */
@media only screen and (max-width: 767px) {
  .post-content img {
    width: 90vw;
  }
  .textLogo {
    width: 320px;
  }
  input {
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6; 
  }
  .post-container {
    width: 90vw;
  }
  .post {
    width: 88vw;
  }
  .profile-preview, .sponsored {
    display: none;
  }
  .Navbar {
    padding-left: 0%;
  }
  .Navbar-right {
    display: flex;
    flex-direction: row;
  }
  .Navbar-left img {
    content: url('./images/logo.png');
    width: 10vw;
    display: flex;
    align-self: center;
  }
  .Navbar-right a {
    content: url('https://cdn-icons-png.flaticon.com/512/1077/1077114.png');
    width: 4vw;
    display: flex;
    align-self: center;
    border-radius: 0.25rem;
    background-color: #d3d3d3;
    padding: 5px 10px;
  }
  .post-text {
    overflow: hidden
  }
  .logout-btn {
    display: flex;
    align-self: center;
    content: url('https://cdn-icons-png.flaticon.com/512/992/992680.png');
    width: 9vw;
    display: flex;
  }
  .profile-top {
    width: 95vw;
  }
}

  